:root {
   --black: #151618;
}

body {
   font-family: 'Cormorant', serif;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   font-weight: 300;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.header {
   padding: 47px 0;
}

.header__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-list {
   display: flex;
}

.header-list__item {
   margin-left: 65px;
}

.header-list__item:nth-child(1) {
   margin-left: 0;
}

.header-list__link {
   color: var(--black);
}

.header-account {
   display: flex;
}

.header-account__item:nth-child(2) {
   margin-left: 20px;
}

.header-account__item:nth-child(3) {
   margin-left: 100px;
}

/* Intro */

.intro {
   background: url(../images/main.png) no-repeat;
   background-size: cover;
   min-height: 500px;
   padding-top: 269px;
   padding-bottom: 63px;
}


.intro-text__title {
   font-family: Cormorant;
   font-size: 60px;
   font-weight: 400;
   line-height: 60px;
   color: #FFF;
   margin-bottom: 20px;
}

.inro-text__subtitle {
   font-family: Cormorant;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   color: #FFF;
}

/* promo */
.promo-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.promo {
   padding-top: 157px;
   padding-bottom: 157px;
}

.promo__title {
   font-family: Cormorant;
   font-size: 40px;
   font-style: italic;
   font-weight: 300;
   line-height: normal;
   width: 704px;
   margin-bottom: 150px;
}

.promo__text {
   font-family: Cormorant;
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 60px;
}

.promo__list {
   display: flex;
   justify-content: space-between;
   gap: 40px;
}

.promo__item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.promo__item--text {
   font-family: Cormorant;
   font-size: 24px;
   font-weight: 400;
}

/* review */

.review {
   padding: 60px 0;
   background: #F7F2EA;
}

.review__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.review__title {
   font-family: Cormorant;
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 60px;
}

.review__list {
   display: flex;
   justify-content: space-between;
   gap: 26px;
}

.review__item {
   width: 25%;
}

.review__item--quote {
   color: var(--black);
   font-size: 16px;
   font-style: italic;
   line-height: normal;
   margin-bottom: 10px;
}

.review__item--author {
   font-size: 20px;
   font-weight: 600;
   line-height: normal;
}

/* Blog */

.blog {
   padding: 153px 0;
}

.blog__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.blog__title {
   font-family: Cormorant;
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 60px;
}

.blog__list {
   display: flex;
   flex-wrap: wrap;
   gap: 40px 57px;
}

.blog__item {
   width: 542px;
   display: flex;
   gap: 20px;
}

.blog__text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.blog__name {
   font-family: Cormorant;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   width: 252px;
}

.blog__subtitle {
   font-size: 13px;
}

.blog__continue {
   font-size: 13px;
   display: flex;
   align-items: center;
   margin-top: 48px;
}

.blog__continue--element {
   margin-left: 8px;
}

.blog__link {
   display: block;
   margin-top: 60px;
   padding: 12px 41px;
   border: 1px solid;
   border-color: var(--black);
}




