:root {
   --b;ack: #151618;
}

body {
   font-family: 'Cormorant', serif;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.5;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.header {
   padding: 47px 0;
}

.header__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-list {
   display: flex;
}

.header-list__item {
   margin-left: 65px;
}

.header-list__item:nth-child(1) {
   margin-left: 0;
}

.header-list__link {
   color: var(--black);
}

.header-account {
   display: flex;
}

.header-account__item:nth-child(2) {
   margin-left: 20px;
}

.header-account__item:nth-child(3) {
   margin-left: 100px;
}
